<%- include('partials/header'); -%>


<div class="container">
  <h1 class="display-4 text-center">About Us</h1>
  <p class="about">For 30 years, our sole focus has been to help young people succeed. Together with partners around the world, we’ve invested in ensuring that youth develop the leadership, technical, and life skills to earn a livelihood. Whether it’s landing a first job, growing a business, or driving social change, every young person deserves the opportunity to realize his or her full potential. Rooted in the belief of youth as problem-solvers, change-makers, and leaders, our initiatives are catalysts for change.</p>
</div>


<%- include('partials/footer'); -%>